---
import Logo from './Logo.astro'
import MainMenu from './MenuMain.astro'
import LanguagePicker from './LanguagePicker.astro'
import ButtonToggleDarkMode from './ButtonToggleDarkMode.jsx'
import { getLangFromUrl, useTranslations } from '@i18n/utils';
const lang = getLangFromUrl(Astro.url);
const translateString = useTranslations(lang);
const includeMainMenu = Astro.props.includeMainMenu;
---

<header class={`absolute w-lvw py-4`}>
	<div class="container flex justify-between items-center">
		<a href="/" aria-label={translateString('home')}>
			<Logo />
		</a>
		<div class="flex items-center">
			{includeMainMenu && <MainMenu />}
			<LanguagePicker />
			<ButtonToggleDarkMode client:only="react" />
		</div>
	</div>
</header>