---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const translateString = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<nav class="fixed lg:static top-0 left-0 right-0 h-4/6 lg:h-auto lg:w-auto bg-m-orange lg:bg-transparent z-10 lg:z-auto lg:mx-2">
	<div class="grid lg:static place-items-center h-full lg:h-auto">
		<ul class="flex gap-x-2 flex-col md:flex-row text-4xl lg:text-sm">
			<li class="lg:mx-2">
				<a href={translatePath('/')}>
					{translateString('navHome')}
				</a>
			</li>
			<li class="lg:mx-2">
				<a href={translatePath('/proyectos/')}>
					{translateString('navProjects')}
				</a>
			</li>
			<li class="lg:mx-2">
				<a href={translatePath('/contacto/')}>
				{translateString('navContact')}
				</a>
			</li>
		</ul>
	</div>
</nav>